/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: 'Helvetica', sans-serif;
    line-height: 1.6;
    background-color: #f5f5f5;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header styles */
header {
    background-color: #fff;
    padding: 1rem 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

nav {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 1rem;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
    background-color: #333;
    color: #fff;
    border-radius: 4px;
}

#darkModeToggle {
    padding: 0.5rem 1rem;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute;
    right: 20px;
    top: 12.5px;
}

#darkModeToggle:hover {
    background-color: #555;
}

/* Main content styles */
main {
    flex: 1;
    padding: 2rem;
    max-width: 1200px;
    margin: 2rem auto;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 80%; 
}

/* Intro Section styles */
.intro-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-left: auto; 
    margin-right: auto; 
}

.intro-text {
    flex: 1;
    margin-right: 1rem;
}

.intro-text h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #333;
}

.intro-text p {
    font-size: 1rem;
    line-height: 1.5;
    color: #666;
}

.avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Content Section styles */
.content-section {
    margin-bottom: 2rem;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.content-section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #444;
}

.contact {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #444;
    text-align: center; /* Center align text */
}

.content-section p {
    font-size: 1rem;
    line-height: 1.5;
    color: #666;
}

/* Footer styles */
footer {
    background-color: #fff;
    text-align: center;
    padding: 1rem;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

/* Dark mode styles */
body.dark-mode {
    background-color: #333;
    color: #f5f5f5;
}

body.dark-mode header,
body.dark-mode footer,
body.dark-mode main,
body.dark-mode .intro-section,
body.dark-mode .content-section {
    background-color: #444;
}

body.dark-mode nav ul li a {
    color: #f5f5f5;
}

body.dark-mode nav ul li a:hover {
    background-color: #555;
    color: #fff;
}

body.dark-mode #darkModeToggle {
    background-color: #f5f5f5;
    color: #333;
}

body.dark-mode #darkModeToggle:hover {
    background-color: #ddd;
}

body.dark-mode h1, body.dark-mode .intro-text h1 {
    color: #f5f5f5;
}

body.dark-mode h2, body.dark-mode .content-section h2 {
    color: #ddd;
}

body.dark-mode p, body.dark-mode .intro-text p, body.dark-mode .content-section p {
    color: #ccc;
}

body.dark-mode .avatar {
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}

body.dark-mode .slider {
    display: none;
}

body.dark-mode #carousel-container::before {
    content: "Tech carousel hidden in dark mode.";
    color: white;
    font-size: 24px;
    text-align: center;
}

body.dark-mode  a,
body.dark-mode a {
    color: #ccc; 
}

body.dark-mode .content-section a:hover,
body.dark-mode .contact a:hover {
    background-color: #555; 
    color: #fff; 
}

/* Carousel styles */
#carousel-container {
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.slider {
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 100px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.slider::before, .slider::after {
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
}

.slider::before {
    left: 0;
    top: 0;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slide-track {
    display: flex;
    animation: scroll 55s linear infinite;
}

.slide {
    flex: 0 0 auto;
    width: 250px;
}

.slide.margin {
    margin-right: 40px; 
}

.slide.margin-minus-right {
    margin-right: -20px;
}

.slide.margin-minus-right-extra {
    margin-right: -40px;
}

.margin-minus-right-left-extra {
    margin-left: -40px;
    margin-right: -40px;
}

.slide img {
    display: flex;
    margin: 0 auto;
    vertical-align: middle; 
}

/* Class for adjusting the height of a specific image */
.adjust-height {
    vertical-align: sub; 
    margin-top: 10px;
}

/* Optional: Keyframes for scrolling effect */

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 10));
    }
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .intro-section {
        flex-direction: column;
        align-items: center;
    }

    .intro-text {
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .avatar {
        margin-bottom: 1rem;
    }

    nav ul {
        flex-direction: column;
        gap: 0.5rem;
    }

    main {
        margin: 1rem;
        padding: 1rem;
        width: 80%; 
        margin-left: auto; 
        margin-right: auto; 
    }
}
