<div id="carousel-container">
    <div class="slider">
        <div class="slide-track">
            <div class="slide margin-minus-right-extra">
                <img src="https://upload.wikimedia.org/wikipedia/commons/6/61/HTML5_logo_and_wordmark.svg" height="80"
                    width="200" alt="html logo" />
            </div>
            <div class="slide margin-minus-right">
                <img src="https://upload.wikimedia.org/wikipedia/commons/d/d4/Javascript-shield.svg" height="80"
                    width="200" alt="javascript logo" />
            </div>
            <div class="slide margin">
                <img src="https://asset.brandfetch.io/idIq_kF0rb/idZxkJkFIi.svg?updated=1667565307270" height="80"
                    width="250" alt="cypress logo" />
            </div>
            <div class="slide adjust-height margin-minus-right">
                <img src="https://upload.wikimedia.org/wikipedia/commons/f/f8/Python_logo_and_wordmark.svg" height="80"
                    width="250" alt="python logo" />
            </div>
            <div class="slide margin-minus-right">
                <img src="https://upload.wikimedia.org/wikipedia/commons/b/ba/Pytest_logo.svg" height="100" width="200"
                    alt="pytest logo" />
            </div>
            <div class="slide margin">
                <img src="https://upload.wikimedia.org/wikipedia/commons/9/9f/Selenium_logo.svg" height="100"
                    width="250" alt="selenium logo" />
            </div>
            <div class="slide margin-minus-right-extra">
                <img src="https://upload.wikimedia.org/wikipedia/commons/7/75/Playwright_Logo.svg" height="100"
                    width="250" alt="playwright logo" />
            </div>
            <div class="slide adjust-height margin-minus-right-extra">
                <img src="https://upload.wikimedia.org/wikipedia/commons/1/13/ChatGPT-Logo.png" height="80" width="190"
                    alt="gpt logo" />
            </div>

            <!-- second loop -->

            <div class="slide margin-minus-right-left-extra">
                <img src="https://upload.wikimedia.org/wikipedia/commons/6/61/HTML5_logo_and_wordmark.svg" height="80"
                    width="200" alt="html logo" />
            </div>
            <div class="slide margin-minus-right">
                <img src="https://upload.wikimedia.org/wikipedia/commons/d/d4/Javascript-shield.svg" height="80"
                    width="200" alt="javascript logo" />
            </div>
            <div class="slide margin">
                <img src="https://asset.brandfetch.io/idIq_kF0rb/idZxkJkFIi.svg?updated=1667565307270" height="80"
                    width="250" alt="cypress logo" />
            </div>
            <div class="slide adjust-height margin-minus-right">
                <img src="https://upload.wikimedia.org/wikipedia/commons/f/f8/Python_logo_and_wordmark.svg" height="80"
                    width="250" alt="python logo" />
            </div>
            <div class="slide margin-minus-right">
                <img src="https://upload.wikimedia.org/wikipedia/commons/b/ba/Pytest_logo.svg" height="100" width="200"
                    alt="pytest logo" />
            </div>
            <div class="slide margin">
                <img src="https://upload.wikimedia.org/wikipedia/commons/9/9f/Selenium_logo.svg" height="100"
                    width="250" alt="selenium logo" />
            </div>
            <div class="slide margin-minus-right-extra">
                <img src="https://upload.wikimedia.org/wikipedia/commons/7/75/Playwright_Logo.svg" height="100"
                    width="250" alt="playwright logo" />
            </div>
            <div class="slide adjust-height margin-minus-right-extra">
                <img src="https://upload.wikimedia.org/wikipedia/commons/1/13/ChatGPT-Logo.png" height="80" width="190"
                    alt="gpt logo" />
            </div>
            
        </div>
    </div>
</div>